<div class="faq-header"> 
</div>

<div class="container">
    
    <!-- START General Questions Section -->
    <h1 id="general" class="page-header">General</h1>

    <p class="faq-question"> CO2IN? How do I say that? <p>
    <p class="faq-answer"> CO<sub>2</sub> Coin = see-oh-too-coin. </p>

    <p class="faq-question"> Yet another cryptocurrency? Why should I care about CO<sub>2</sub>IN? </p>
    <p class="faq-answer">[TBA]</p>

    <p class="faq-question"> I've heard a lot about failed cryptocurrencies recently. How is CO<sub>2</sub>IN different? </p>
    <p class="faq-answer">[TBA]</p>

    <p class="faq-question"> Wait a minute, isn't cryptocurrency mining an energy intensive process. How does that square with reducing emissions? </p>
    <p class="faq-answer">[TBA]</p>

    <p class="faq-question"> Ok, I'm sold - I want to help reduce emissions. How the heck do I get started with this thing? </p>
    <p class="faq-answer">[TBA]</p>
    <!-- END General Questions Section -->

    <!-- START Offset Purchase Questions Section -->
    <h1 id="offset-purchase" class="page-header">Carbon Offset Purchase</h1>
    
    <p class="faq-question"> How can I confirm that the pre-mined fund amount is actually what you say it is? </p>
    <p class="faq-answer"> [TBF] Ask your client to perform a balance check on the following addresses set-aside for the offset purchase, and confirm that the amounts match. These balances, like all other balances, are maintained by peers on the CO<sub>2</sub>IN network, not the developers. </p>
    
    <p class="faq-question">How do I know that you won't run away with the money and not spend it on offets?</p>
    <p class="faq-answer">[TBA]</p>
    
    <p class="faq-question"> Related to the previous question, how do I know that the offsets you purchase will actually succeed in reducing emissions?</p>
    <p class="faq-answer"> [TBF] XXXXX is a reputable offset purchasing business. While the specific choice of offset behavior is up to the vendor, we are confident that the funds will be well spent.</p>
    <!-- END Offset Purchase Questions Section -->
    
    <!-- START Implementation Questions Section -->
    <h1 id="implementation" class="page-header">Technology & Implementation</h1>

    <p class="faq-question"> What are the exact specifications for CO<sub>2</sub>IN? </p>
    <div class="faq-answer"> CO2IN is a Litecoin branch with the following parameters:
        <ul>
        <li> Addition of DigiSign difficulty re-adjustment </li>
        <li> Pre-mine of 20% of total currency to here </li>
        <li> x minute difficulty retarget </li>
        <li> y initial reward with half life z </li>
        <li> w target mine time </li>
        </ul>
    </div>
    
    <p class="faq-question"> You say it's a Litecoin branch, but what's the real the lineage of the CO<sub>2</sub>IN codebase? </p>
    <p class="faq-answer"> CO<sub>2</sub>IN really is a branch of Litecoin! The most significant changes are a hard-coded pre-mine to certain addresses (see the FAQ section on carbon offset purchase) and the DigiSign difficulty re-adjustment algorithm spliced-in. We will periodically merge the latest updates to Litecoin as development resources allow.</p>

    <p class="faq-question"> Why didn't you use Proof-of-Stake mining to avoid the energy impact of mining? Why didn't you try to create a community voting system for deciding how to spend the pre-mine on offsets? Why doesn't CO<sub>2</sub>IN incorporate cool features I've seen in other cryptocurrencies? </p>
    <p class="faq-answer"> The sheer diversity of cryptocurrency implementations is amazing and a testament to the entrepreneurial spirit of the community. Proof-of-stake and voting-based spends are amazing ideas that we hope will be borne out some day, but for us they are too much of a risk. The reality is that the design of a distrbuted system as complex as a cryptocurrency is really, really difficult. We purposefully made CO<sub>2</sub>IN as small a branch of Litecoin as possible to avoid the introduction of bugs. </p>
    
    <!-- END Implementation Questions Section -->

</div>