<!-- Header -->


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="home-header">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1> CO<sub>2</sub>IN </h1>
        <h3> An new cryptocurrency that directly supports the reduction of CO<sub>2</sub> and other environmentally harmful emissions. </h3>
        <p>&nbsp</p>
        <h4> START USING CO<sub>2</sub>IN: </h4> 
        <p>
          <%= link_to '<span class="fa fa-windows"></span> Windows '.html_safe, {:action => "show", :controller => "faq", :anchor => "getting-started" }, class: "btn btn-primary btn-lg", role: "button" %>
          <%= link_to '<span class="fa fa-apple"></span> OS X '.html_safe, {:action => "show", :controller => "faq", :anchor => "getting-started" }, class: "btn btn-primary btn-lg", role: "button" %>
          <a href="#" class="btn btn-primary btn-lg" role="button" disabled="disabled"><span class="fa fa-linux"></span> Linux </a>
        </p>
        <!-- <p><%= link_to "Detailed Installation Instructions" , {:action => "show", :controller => "faq", :anchor => "getting-started" }, style: "color: #FFFFFF" %></p> -->
        <p>&nbsp</p>
        <h4> BUY CO<sub>2</sub>IN:  </h4> 
        <p><a href="#" class="btn btn-primary btn-lg" role="button" disabled="disabled">Coming Soon</a></p>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        <!-- The source for the current image came from here - http://commons.wikimedia.org/wiki/File:Carbon_dioxide_3D_ball.png -->
        <%= image_tag "CO2IN.png", class: "img-responsive symbol-big" %>
      </div>
    </div>
  </div>
</div>

<!-- Copy for the coin -->
<div class="container" id="features">
  <div class="row">
    <div class="col-md-4">
      <h3>Reduce Emissions</h3>
      <p>CO<sub>2</sub>IN is the only altcoin that sets aside pre-mined funds (20%) exclusively for purchase of carbon offsets. Funds will be transferred to reputable carbon offset vendors over the course of ~1 year once the coin exits the BETA stage. </p>
    </div>
    <div class="col-md-4">
      <h3>Mine with Confidence</h3>
      <p>CO<sub>2</sub>IN employs Scrypt-based proof-of-work mining combined with a block time of 2 minutes, difficulty re-target of 10 minutes + <a href="http://www.reddit.com/r/Digibyte/comments/1zjeso/eli5_what_is_digishield/"> DigiShield </a>, and reward half-life of 5 years. Enjoy continuing rewards, and protection from large surges and depletions in mining power. </p>
    </div>
    <div class="col-md-4">
      <h3>Support Research</h3>
      <p>CO<sub>2</sub>IN is the output of researchers at Rice Universty's Cultural Observatory and Baylor College of Medicine's Center for Genome Architecture. Participation in the CO<sub>2</sub>IN environment will support ongoing research on the adoption, spending characteristics, and mining of nascent digital currencies. </p>
    </div>
  </div>
</div>